/*
* @Author: Administrator
* @Date:   2016-07-18 07:15:31
* @Last Modified by:   Jiang Guoxi
* @Last Modified time: 2016-07-18 18:29:48
*/
html, body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
}
body {
  padding: 50px 100px;
  overflow: hidden;
  background: #eee;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'SimHei', 'Microsoft Yahei';
}
.center {
  text-align: center;
}
h1 {
  text-align: center;
}
.posts {
  width: 100%;
  height: 100%;

  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, .6) 2px 3px 40px;
  padding: 10px 40px;
  box-sizing: border-box;
  margin-bottom: 100px;
}
@media screen and (max-width: 468px) {
  body {
    padding: 20px;
    overflow: hidden;
    /*padding-top: 150px;*/
  }
  .posts {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
