/*
* @Author: Administrator
* @Date:   2016-07-18 07:15:31
* @Last Modified by:   Administrator
* @Last Modified time: 2016-07-18 07:52:21
*/
html, body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
}
body {
  padding: 50px 100px;
  background: #eee;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'SimHei', 'Microsoft Yahei';
}
.center {
  text-align: center;
}
h1 {
  text-align: center;
}
.posts {
  width: 100%;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, .6) 2px 3px 40px;
  padding: 10px 40px;
  box-sizing: border-box;
}
